Source: lys
Section: contrib/utils
Priority: optional
Maintainer: Andrew Bernard <andrew.bernard@gmail.com>
Build-Depends: debhelper (>= 9)
Standards-Version: 3.9.6
#Homepage: <insert the upstream URL, if relevant>
Vcs-Git: https://github.com/andrewbernard/lys.git
Vcs-Browser: https://github.com/andrewbernard/lys

Package: lys
Architecture: all
Depends: ${shlibs:Depends}, ${misc:Depends}, guile-1.8
Description: Lilypond compile server
 Lys is a server for compiling lilypond source files. The client
 program lyc is used for submitting source files to be compiled.
